.contenido-uno-titulo {
    padding-top: 60rem;
    font-family: $fuente_primario;
    font-size: 5rem;
    align-self: center;
    color: $color_primario;
    text-transform: uppercase;
}

.contenido-uno-hr {
    width: 90%;
    height: 4px;
    background-color: $color_primario;
}

.contenido-uno-subtitulo {
    font-family: $fuente_primario;
    font-size: 1.5rem;
    align-self: center;
    color: $color_primario;
    padding: 1rem;
    text-transform: uppercase;
}

.titulo-h2 {
    font-family: $fuente_primario, cursive;
    font-size: 4rem;
    color: #000;
    width: 100%;
    align-self: center;
    text-align: center;
    padding-left: 20px;
    padding-top: 100px;
    text-transform: uppercase;
}
