.contenedor-principal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1300px 800px 400px;
    grid-template-areas:
        "principal principal"
        "lema lema"
        "titulo-noticias titulo-noticias"
        "noticia noticia";
}

.contenido-uno {
    grid-area: principal;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)), url(../assets/images/Castillo.jpg);
    background-size: cover;
    max-height: 1300px;
    width: 100%;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lema {
    grid-area: lema;
    background-color: rgb(75, 75, 75);
    height: auto;
    width: 100%;
    padding: 20rem;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;

    h2 {
        font-family: $fuente_primario, cursive;
        font-size: 5rem;
        align-self: center;
        color: $color_primario;
    }
    
    h3 {
        font-family: $fuente_primario;
        font-size: 1.5rem;
        align-self: center;
        color: $color_primario;
        padding: 1rem;
    }
}

.noticias-principal {
    grid-area: titulo-noticias;
    background-color: rgb(48, 47, 47);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    padding: 2.5rem;
    align-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;

    h2 {
        padding-top: 4rem;
        font-family: $fuente_primario, cursive;
        font-size: 5rem;
        align-self: center;
        color: $color_primario;
        background-color: rgb(48, 47, 47);
    }
}

.noticias {
    grid-area: noticia;
    width: 100%;
    max-width: 100%;
    display: inline-block;
    text-align: center;
    background-color: rgb(48, 47, 47);

    img {
        max-width: 350px;
        max-height: 300px;
    }
}

.noticias .noticia {
    width: 400px;
    height: 400px;
    border-radius: 20px;
    box-shadow: 0 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 30px;
    text-align: center;
    transition: all 0.25s;
    display: inline-block;
}

.noticia {
    background-color: $color_primario;
    padding: 30px;

    img {
        width: 250px;
        height: 220px;
        border-radius: 10px;
    }   
    h3 {
        margin-top: 20px;
        font-size: 25px;
    }
    h4 {
        margin-top: 10px;
        font-size: 15px;
    }
}

.noticia:hover {
    transform: translateY(-20px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    background-color: gray;
    color: $color_primario;
}
