@media (max-width:990px) {

    // INDEX

    .lema {
        display: flex;
        flex-direction: column;
        padding: 0px;
    }

    .lema-titulo .lema-subtitulo {
        width: 100%;
        height: 100%;
        padding: 0px;
    }

    .noticias  {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0px;
        align-items: center;
    }

    // COLEGIO

    .contenedor-principal-colegio {
        display: flex;
        flex-direction: column;

    }

    .contenido-dos-colegio-imagen {
        width: 100%;
        height: 100%;
        padding: 0px;
    }

    // ASIGNATURAS

    .contenido-dos-asignaturas-materias {
        display: flex;
        flex-direction: column;
    }

    .asignaturas-contenido {
        width: 100%;
        flex-direction: column;
    }

    .contenido-tres-asignaturas-materias {
        display: flex;
        flex-direction: column;
    }

    .asignaturas-contenido-deportes {
        width: 100%;
        flex-direction: column;
    }

    // INSCRIPCIONES

    .contenedor-dos-inscripciones1 {
        display: flex;
        flex-direction: column;
    }

    .contenido-dos-colegio {
        display: flex;
        flex-direction: column;
    }
}